<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Recipe Collection | Home</title>

  <link rel="stylesheet" href="/css/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@500&family=Playfair+Display:wght@500&family=Poppins:ital,wght@0,300;1,200&family=Roboto:ital,wght@1,300&display=swap"
    rel="stylesheet">

  <script src="../js/product.js" type="module"></script>
</head>

<body>
  <header class="divider" id="main-header">
    <div class="logo">
      <img src="/images/chef-hat-and-fork-svgrepo-com.svg" alt="image of a chef hat and fork" /><a href="">My Recipe
        Collection</a>
    </div>
    <div class="logo-search">
      <img src="/images/search.svg" alt="image of magnifying glass" />
    </div>
  </header>
  <main class="divider">
    <div>
      <p>Prepare and save your favorite dishes</p>
    </div>
    <section class="recipe-detail">
      <h2 id="recipeName"></h2>
      <p>Diet:&nbsp;<span  id="recipeDietLabel"></span></p>
      <p >Yield:&nbsp;<span id="recipeYield"></span></p>
    <!--  <h2 class="divider" id="productNameWithoutBrand"></h2>-->
      <img id="recipeImage" class="divider" src="" alt="" />
      <p class="">Ingredients:</p>
      <p id="recipeIngredients"></p>
      <p class="" id="recipeInstructions"></p>
      <!--<div class="product-detail__add">
        <button id="addToCart" data-id="">Add to Cart</button>
      </div>-->
    </section>
  </main>
  <footer id="main-footer">
    <div class="row">
      &copy; 2019 &nbsp;&bull;&nbsp; Tim Tomlinson &nbsp;&bull;&nbsp;WDD330
    </div>
  </footer>
</body>

</html>