:root {
  --font-body: "Poppins light 300", Arial, sans-serif;
  --font-headline: "Helvetica Bold", "Arial Narrow Bold", sans-serif;
  --font-nav: "Roboto";
  /* colors */
  --primary-color: #65135e;
  --secondary-color: #964db8;
  --tertiary-color: #c7b88b;
  --light-orange: #f1ebdc;
  --light-red: #b96854;
  --dark-gray: #434545;
  --light-gray: #d0d0d0;
  /* font sizes */
  --font-base: 16px;
  --small-font: 0.7em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  width: 95%;
  margin: 0 auto;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-gray);
  background-color: var(--light-orange);
}
h1,
h2,
h3 {
  color: #81574b;
  font-family: "Fira Sans";
}
img {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.logo {
  line-height: 60px;
  width: 350px;
  overflow: hidden;
  display: flex;
  font-size: 20px;
  /*text-align: right;*/
  font-family: var(--font-headline);
  color: var(--primary-color);
}
.logo-search {
  width: 20px;
  height: 20px;
  padding: 20px 0;
}
.logo img {
  width: 60px;
  height: 60px;
}
.logo a {
  text-decoration: none;
  text-align: left;
  font-weight: 600;
}
.hide {
  display: none;
}

/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: 2% auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}
.divider {
  border-bottom: 2px solid var(--primary-color);
}
/* End utility classes */

/* main  */
main div h3 {
  font-weight: bold;
  font-size: 1em;
}

/* Product Grid */
.foodCat-grid {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  grid-column-gap: 15%;
  list-style-type: none;
  padding-left: 0;
  margin: auto;
}
.foodCat-grid li {
  /* border: black solid 1px;*/
  text-align: center;
  font-weight: 600;
  font-size: 0.5em;
}
.foodCat-grid li a {
  text-decoration: none;
}
/* End Product Grid */

.recipe-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style-type: none;
  padding-left: 0;
}

/* recipe cards */
.recipe-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 2px solid var(--dark-grey);
  max-width: 250px;
}
.recipe-card a {
  text-decoration: none;
}
.recipe-card p,
.recipe-card h2,
.recipe-card h3 {
  margin: 0.5em 0;
  color: #81574b;
}
.recipe-card-name {
  font-size: 0.8em;
}
.recipe-card-yield,
.recipe-card-diet {
  font-size: var(--small-font);
}
/* End Card Styles */

/* footer */
.row {
  font-family: var(--font-body);
  font-size: var(--small-font);
  color: var(--dark-gray);
  padding: 1em;
}

@media screen and (min-width: 500px) {
  :root {
    --small-font: 0.8em;
    --large-font: 1.25em;
  }
  body {
    max-width: 1080px;
    margin: auto;
  }
  main div h3 {
    font-weight: bold;
    font-size: 1.75em;
  }
  .recipe-card-name {
    font-size: var(--font-base);
  }
  .foodCat-grid {
    grid-template-columns: 20% 20% 20%;
    grid-column-gap: 20%;
    list-style-type: none;
    padding: 5% 5%;
    margin: auto;
  }
  .foodCat-grid li {
    text-align: center;
  }
  .foodCat-grid li h2 {
    font-size: 2.5em;
    font-weight: 600;
  }
  .foodCat-grid li a img {
    width: 300px;
  }
}
